{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>

<body>
    <div class="details-container">
        <div class="details-navbar">
            <a href="#">
                <img class="logo" src="img/logo@1X.png" alt="">
            </a>
            <ul class="menu">
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/products.html">PRODUCTS</a></li>
                <li><a href="#">HISTORY</a></li>
                <li><a href="#">SHOWROOM</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><img src="img/search@1X.png" alt=""></li>
            </ul>
            <div class="clr"></div>
            <div class="nav-list">
                <ul>
                    <li><a href="">all</a></li>
                    <li><a href="">home</a></li>
                    <li><a href="">office</a></li>
                    <li><a href="">furniture</a></li>
                    <li><a href="">modern</a></li>
                    <li><a href="">classic</a></li>
                </ul>
            </div>
        </div>
        <div class="clr"></div>
        <div class="product-details">
            <div class="product-slider">
                <div class="slider1">
                    <img src="img/slider1.png" alt="">
                </div>
                <div class="clr"></div>
                <ul>
                    <li><a href=""><img src="img/controll.png" alt=""></a></li>
                    <li><a href=""><img src="img/controll11.png" alt=""></a></li>
                    <li><a href=""><img src="img/controll2.png" alt=""></a></li>
                </ul>
            </div>
            <div class="description">
                <h2>Fishnet Chair</h2>
                <div class="clr"></div>
                <h3>hot deal</h3>
                <div class="price">
                    <ul>
                        <li>
                            <div class="t1">
                                <p>$</p>
                            </div>
                        </li>
                        <li>
                            <div class="t2">36.7</div>
                        </li>
                        <li>
                            <div class="t3">/sq</div>
                        </li>
                    </ul>
                </div>
                <div class="clr"></div>
                <div class="btn">
                    <p>order us</p>
                </div>
                <p class="rawtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tempora accusantium quos at natus sapiente quibusdam, autem incidunt perspiciatis aut itaque, quae odio libero aliquam repellat cumque ex tenetur soluta officia magnam non tempore quisquam? Pariatur repudiandae, cumque necessitatibus accusantium distinctio nisi totam. Saepe et fugit sit at voluptate rem aperiam repellat tempore, voluptatum, fugiat qui in, odio non itaque, ea atque consectetur eum? Voluptatum consequatur, consequuntur fugiat voluptate exercitationem accusamus quisquam corrupti tempora ad nulla laborum, quo commodi cupiditate nostrum non quidem voluptas adipisci earum id? Provident neque hic nesciunt aliquid distinctio fuga repudiandae nisi porro atque? Neque, similique!</p>
            </div>
        </div>
        <div class="clr"></div>
        <div class="related-products">
            <div class="title">Related Products</div>
            <a class="explore-3" href="#">EXPLORE ALL</a>
            <div class="clr"></div>
            <ul>
                <li><a href=""><img src="img/product-11@1X.png" alt=""></a></li>
                <li><a href=""><img src="img/product-21@1X.png" alt=""></a></li>
                <li><a href=""><img src="img/product-31@1X.png" alt=""></a></li>
            </ul>
        </div>
        <div class="footer">
            <div class="contact">
                <h3>CONTACT US</h3>
                <p>132A Bridge Road Richmond VIC Australia
                    <br>
                    <br>
                    Talk to us on 1300 132<br>info@interior.com</p>

            </div>
            <div class="information">
                <h3>USEFUL INFORMATION</h3>
                <ul class="ul_1">
                    <li><a href="#">SALES TERMS</a></li>
                    <li><a href="#">CUSTOMER CARE</a></li>
                    <li><a href="#">DELIVERY</a></li>
                </ul>
                <ul class="ul_2">
                    <li><a href="#">ARCHITECT ACCOUNTS</a></li>
                    <li><a href="#">CAREERS</a></li>
                    <li><a href="#">EXCHANGES AND RETURNS</a></li>
                </ul>

            </div>
            <div class="staytouch ">
                <h3>LET'S STAY IN TOUCH!</h3>
                <p>Subscribe to know about our latest news, products and <br> and special offers just for subscribers.</p>
                <ul>
                    <li><input class="mail" placeholder="    your email adress" type="text"></li>
                    <li><input class="submit" type="submit" value=""></li>
                </ul>

            </div>

            <div class="copyright">© Copyright - INTERIOR 2016. All Rights Reserved.</div>
            <div class="social"><img src="img/social-links@1X.png" alt=""></div>
            <div class="terms">Terms & Conditions / Privacy policy & Cookies</div>
        </div>
    </div>
</body></html>
